body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.user-info {
  padding: 15px;
  border: 1px solid black;
  margin: 5px
}

.nav-btn {
  padding: 5px;
  margin: 5px;
  min-width: 50px;
  border-radius: 5px;
}

.nav-select {
  padding: 5px;
  margin: 5px auto 10px;
  min-width: 110px;
  border-radius: 5px;
  display: block;
}

.body {
  width: 100%
}

table thead tr{
  background: #f7f9fb;
}

table thead tr th{
  cursor: pointer;
  font-size: 1.5rem;
  padding: 5px 10px;
}

table tbody tr td{
  padding: 10px;
}

table tbody tr:nth-child(even){
  background: #f7f9fb;
}

table tbody tr:nth-child(odd){
  background: white;
}
